{
    "color_scheme": "Packages/Theme - Spacegray/base16-ocean.dark.tmTheme",
    "font_face": "Menlo",
    "font_size": 14,
    "ignored_packages":
    [],
    "spacegray_sidebar_font_large": true,
    "spacegray_tabs_font_normal": true,
    "theme": "Spacegray.sublime-theme",
    "translate_tabs_to_spaces": true
}
